noeudNR-LancementTTS.json
[
    {
        "id": "33c09c95faacc0cb",
        "type": "inject",
        "z": "accacba78ee4631b",
        "g": "1c7899af3905ea3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "trigger:forced",
        "payloadType": "str",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "53ee2b75bd23931b"
            ]
        ]
    },
    {
        "id": "53ee2b75bd23931b",
        "type": "chronos-scheduler",
        "z": "accacba78ee4631b",
        "g": "1c7899af3905ea3e",
        "name": "Tous les matins",
        "config": "6bb36e31794d5fe2",
        "schedule": [
            {
                "trigger": {
                    "type": "crontab",
                    "value": "30 6 * * *"
                },
                "output": {
                    "type": "msg",
                    "property": {
                        "name": "payload",
                        "type": "str",
                        "value": ""
                    }
                }
            }
        ],
        "multiPort": false,
        "nextEventPort": false,
        "disabled": false,
        "outputs": 1,
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "e91209fd3a57d982"
            ]
        ]
    },
    {
        "id": "e91209fd3a57d982",
        "type": "http request",
        "z": "accacba78ee4631b",
        "g": "1c7899af3905ea3e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.2/misc/sonnerieDepartEcole/calDepartEcoleV2.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "f666a6b7371187f8"
            ]
        ]
    },
    {
        "id": "f666a6b7371187f8",
        "type": "function",
        "z": "accacba78ee4631b",
        "g": "1c7899af3905ea3e",
        "name": "Départ école à lancer ?",
        "func": "let data = msg.payload;\n\nconst dateToday = new Date();\nconst dateAnnee = dateToday.getFullYear();\nconst dateMois = ('0' + (dateToday.getMonth()+1)).slice(-2); // Slice pour avoir 2 chiffres (1 -> 01, 2 -> 02...)\nconst dateJour = ('0' + (dateToday.getDate())).slice(-2);\n\n// msg.payload = dateAnnee+'-'+dateMois+'-'+dateJour;\nmsg.payload = data[dateAnnee+'-'+dateMois+'-'+dateJour];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1620,
        "wires": [
            [
                "093e3b6a49c2ba88"
            ]
        ]
    },
    {
        "id": "093e3b6a49c2ba88",
        "type": "switch",
        "z": "accacba78ee4631b",
        "g": "1c7899af3905ea3e",
        "name": "Si \"true\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 1620,
        "wires": [
            [
                "afe08e34c00fec01",
                "b6bf19fbd8c6c519"
            ]
        ]
    },
    {
        "id": "6bb36e31794d5fe2",
        "type": "chronos-config",
        "name": "Maison",
        "sunPositions": []
    }
]